# Global .editorconfig file
# ===========================================
# Created and maintained by https://github.com/CraigCraig
# ===========================================
# This file is used by the Visual Studio Code editor to maintain consistent coding styles between editors and developers.
# https://learn.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options?view=vs-2022
# https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference?view=vs-2022
# http://editorconfig.org
# ===========================================

root = true

# All files
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = true

# JSON Files
[*.json]
indent_size = 4
ident_style = tab

# Visual Studio Settings File
[*.vssettings]
indent_size = 4
ident_style = tab

# C# Files
[*.{cs,csproj}]
indent_size = 4
ident_style = tab

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = none