# Global .gitignore file
# ===========================================
# Created and maintained by https://github.com/CraigCraig
# ===========================================
# This file is used by all of my projects.
# It is a global .gitignore file that is used by all of my projects.
# ===========================================

# Common
Builds/
obj/

# Visual Studio
.vs/