[submodule "CheetahUtils"]
	path = Submodules/CheetahUtils
	url = git@github.com:CraigCraig/CheetahUtils.git
[submodule "CheetahApp"]
	path = Submodules/CheetahApp
	url = git@github.com:CraigCraig/CheetahApp.git
