[submodule "CheeseyUtils"]
	path = SubModules/CheeseyUtils
	url = git@github.com:CraigCraig/CheeseyUtils.git
[submodule "CheeseyUI"]
	path = Submodules/CheeseyUI
	url = git@github.com:CraigCraig/CheeseyUI.git
